
$white: #ffffff;
$gray: #adadad;
$black: #090B04;

$primary-color: #C6424B;
$secondary-color: #5EA6C9;
$tertiary-color: #BDD3E7;
$background-color: #D9EBF2;

$shadow-color: #474747;
$content-color: #4d4d4d;