@import "variables";
@import "reset";
@import "mixin";

input, textarea {
  padding: 3px;
  font-weight: normal;
  border: 1px solid $gray;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 0;
  background-color: $gray;
  padding: 4px 10px;
  font-size: 90%;
  color: white;
  &.primary {
    background-color: $primary-color;
  }
}

body {
  background-color: $background-color;
}

#application {

  padding: 5px;

  #card-form {

    input {
      display: block;
      width: 100%;
    }

    margin-bottom: 10px;
  }

  #status-container {
    display: flex;
    flex-direction: row;
  }

  .status {

    width: 300px;
    max-width: 300px;
    min-width: 300px;
    margin-right: 20px;
    background: $tertiary-color;
    padding: 10px;
    height: 100%;
    border-radius: 8px;

    .status_subject {
      background-color: $secondary-color;
      color: $white;
      font-weight: bold;
      text-align: center;
      padding: 5px;
      @include shadow-box;
    }

    .task {
      display: block;
      padding: 5px;
      margin-top: 5px;
      background-color: $white;
      @include shadow-box;
      color: $content-color;
      .subject {

      }
      .info {
        font-size: 80%;
        color: $gray;
        text-align: right;
        font-style: italic;
      }
    }
    .new-form {
      .add_btn {
        color: $gray;
        cursor: pointer;
        display: block;
        text-align: center;
        &:hover {
          color: $primary-color;
        }
      }
      textarea {
        width: 100%;
        resize: vertical;
        border: none;
      }
      .new_task_form {
        text-align: right;
      }
    }
  }
}