@import "variables";
@import "reset";
@import "mixin";

input, textarea {
  padding: 3px;
  font-weight: normal;
  border: 1px solid $gray;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 0;
  background-color: $gray;
  padding: 4px 10px;
  font-size: 90%;
  color: $white;
  &.primary {
    background-color: $primary-color;
  }
}

body {
  background-color: $background-color;
}


#application {

  padding: 5px;

  #card-form {

    input {
      display: block;
      width: 100%;
    }

    margin-bottom: 10px;
  }

  #status-container {
    display: flex;
    flex-direction: row;
  }

  .status {

    width: 300px;
    max-width: 300px;
    min-width: 300px;
    margin-right: 20px;
    background: $tertiary-color;
    padding: 10px;
    height: 100%;
    border-radius: 8px;

    .status_subject {
      background-color: $secondary-color;
      color: $white;
      font-weight: bold;
      text-align: center;
      padding: 5px;
      @include shadow-box;
    }

    .task {
      display: block;
      padding: 5px;
      margin-top: 5px;
      background-color: $white;
      @include shadow-box;
      color: $content-color;
      .subject {

      }
      .info {
        font-size: 80%;
        color: $gray;
        text-align: right;
        font-style: italic;
      }
    }
    .new-form {
      .add_btn {
        color: $gray;
        cursor: pointer;
        display: block;
        text-align: center;
        &:hover {
          color: $primary-color;
        }
      }
      textarea {
        width: 100%;
        resize: vertical;
        border: none;
      }
      .new_task_form {
        text-align: right;
      }
    }
  }

  #task-modal{
    width:60%;
    margin:1.5em auto 0;
    padding:10px 20px;
    border:2px solid #aaa;
    background:#fff;
    z-index:2;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 50%;
    color: $content-color;

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      color: $content-color;
      cursor: pointer;
    }

    .header {
      font-weight: bold;
      margin-top: 20px;
    }

    .content {
      margin-top: 10px;

      .date {
        text-align: right;
      }
    }

    .edit-box {
      cursor: pointer;
    }

    .footer {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 10px;
    }

    .btn-delete {
      color: $danger-color;
      background: $danger-background-color;
      cursor: pointer;
    }

    .btn-info {
      color: $info-color;
      background: $info-background-color;
      cursor: pointer;
    }
  }

  input {
    padding:10px;
    color:$content-color;
    border:solid 1px #ccc;
    margin:0 0 20px;
    width:100%;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  }

  input:focus {
    border:solid 1px #4364ff;
  }
}